NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/discoverly
# Optional separate DB for seeding experiments:
# MONGODB_URI=mongodb://localhost:27017/discoverly_seed
JWT_SECRET=replace_me
STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_DESTINATION_ADDRESS=
